

body{
    background-color: #fbffff;
    max-width: 100%;
}
.bread-crumb{
    background-color: #60a3bc ;
    display: flex;
    color: #fbffff;
    flex-wrap: wrap;
    padding: 0.4rem 1rem;
    margin-bottom: 0.2rem;
    list-style: none;
    border-radius: 0.1rem;
}

.bread-crumb>div{
    margin-right: 10px;
}

.bread-crumb a{
    color: #fbffff;
}

.bread-crumb>div.icons span{
    padding: 5px;
}
nav.navbar{
    display: flex;
    height: 5em;
    margin-top: 1em;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand{
    width: 6%;
}
.navbar .navbar-brand img{
    width: 100%;
}

.navbar .avator{
    margin-left: auto;
    margin-right: 5%;
    border-radius: 50%;
}

.avator .user-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.side-menu .nav .nav-link{
    color: #60a3bc;
}

.avator .user-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.dropdown .dropdown-menu a{
    font-size: 13px;
}

.content-body{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}

.sect1{
    width: 20%;
    background-color: #fff;

}
.sect2{
    width: 5%;

}
.sect3{
    width: 75%;
    background-color: #fff;
}

.sect1,.sect3{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.main-content{
    margin: 2%;
}
.main-content .path span{
    font-weight: 600;
    color: #60a3bc;
}

.feeds .mytitle{
    margin: 40px 0px;
}
.feeds .mytitle h3{
    text-align: center;
    color: #60a3bc;

}
.feeds .message{
    border-bottom: .5px solid #ddd;
    padding: 10px 0px;
}
.feeds .message .date{
 text-align: end;
 font-size: .8em;
 font-style: italic;
 color: #ff5e00;

}
.feeds .message p{
    font-size: 0.95;
}
.feeds .message .publisher{
    font-weight: bold;
    text-align: start;
    font-size: 0.75em;
    font-style: italic;
}

.hostels .card-body p{
    font-size: 14px;
}

.add-hostel form{
    margin: 1%;
}

.add-hostel form .reset-btn{
    background-color: #ff5e00;
    width: 100%;
    font-weight: 600;
    color: #fbffff;
} 
.add-hostel form .submit-btn{
    background-color: #60a3bc;
    width: 100%;
    font-weight: 600;
    color: #fbffff;
} 


.sect3 table{
    overflow-x: scroll;
}

footer>div{
    background-color: #00000033;
   
}



@media (max-width: 767px) {
    .sect1,.sect2{
        display: none;
    }
    .sect3{
        width: 100%;
    }

}